:root {
  --primary-color: purple;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card__container {
  width: 350px;
  /* height: 400px; */
  background-color: white;
  border-radius: 6px;
  padding: 20px;
}

.card__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image__wrapper img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
  outline: 3px solid var(--primary-color);
}

.description__wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.name__wrapper {
  color: var(--primary-color);
  text-align: center;
}

.name__wrapper h1 {
  font-size: 20px;
}

.name__wrapper p {
  font-size: 22px;
}

.description__wrapper p {
  line-height: 22px;
  text-align: center;
}

.btn__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn__wrapper a {
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  flex: 1;
  padding: 12px;
  border-radius: 6px;
  font-weight: 600;
  transition: all 300ms ease-in-out;
}

.btn__wrapper a:nth-child(1) {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.btn__wrapper a:nth-child(1):hover {
  background-color: var(--primary-color);
  color: white;
}

.btn__wrapper a:nth-child(2) {
  background-color: var(--primary-color);
  color: white;
}

.btn__wrapper a:nth-child(2):hover {
  border: 2px solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
}